﻿<%@ Control Language="VB" AutoEventWireup="false" Inherits="Virtualia.Net.Fenetre_PER_SPECIALITE" Codebehind="PER_SPECIALITE.ascx.vb" %>

<%@ Register src="~/Controles/Saisies/VCoupleEtiDate.ascx" tagname="VCoupleEtiDate" tagprefix="Virtualia" %>
<%@ Register src="~/Controles/Saisies/VCoupleEtiDonnee.ascx" tagname="VCoupleEtiDonnee" tagprefix="Virtualia" %>
<%@ Register src="~/Controles/Saisies/VDuoEtiquetteCommande.ascx" tagname="VDuoEtiquetteCommande" tagprefix="Virtualia" %>
<%@ Register src="~/Controles/Standards/VListeGrid.ascx" tagname="VListeGrid" tagprefix="Virtualia" %>
 
 <asp:Table ID="CadreControle" runat="server" Height="40px" Width="550px" CellPadding="0" CellSpacing="0" HorizontalAlign="Center">
    <asp:TableRow VerticalAlign="Middle"> 
         <asp:TableCell> 
            <Virtualia:VListeGrid ID="ListeGrille" runat="server" CadreWidth="530px" SiColonneSelect="true" SiCaseAcocher="false" />
         </asp:TableCell>
     </asp:TableRow>
     <asp:TableRow>
        <asp:TableCell>
            <asp:Table ID="CadreInfo" runat="server" BorderStyle="Ridge" BorderWidth="2px"
            BorderColor="#B0E0D7" Height="250px" Width="550px" HorizontalAlign="Center">
                <asp:TableRow>
                    <asp:TableCell>
                      <asp:Table ID="CadreCommandes" runat="server" Height="22px" CellPadding="0" CellSpacing="0"
                            Width="244px" HorizontalAlign="Right" style="margin-top: 3px;margin-right: 3px">
                            <asp:TableRow>
                                <asp:TableCell VerticalAlign="Bottom">
                                    <asp:Table ID="CadreCmdNewSupp" runat="server" BackImageUrl="~/Images/Boutons/NewSupp_Std.bmp" 
                                        Width="160px" CellPadding="0" CellSpacing="0"
                                        BorderWidth="2px" BorderStyle="Outset" BorderColor="#B0E0D7" ForeColor="#D7FAF3">
                                        <asp:TableRow>
                                            <asp:TableCell>
                                                <asp:Button ID="CommandeNew" runat="server" Text="Nouveau" Width="68px" Height="20px"
                                                    BackColor="Transparent" BorderColor="#B0E0D7" ForeColor="#D7FAF3"
                                                    Font-Bold="False" Font-Names="Trebuchet MS" Font-Size="Small" Font-Italic="true"
                                                    BorderStyle="None" style=" margin-left: 10px; text-align: right;"
                                                    Tooltip="Nouvelle fiche">
                                                </asp:Button>
                                            </asp:TableCell>
                                            <asp:TableCell>
                                                <asp:Button ID="CommandeSupp" runat="server" Text="Supprimer" Width="68px" Height="20px"
                                                    BackColor="Transparent" BorderColor="#B0E0D7" ForeColor="#D7FAF3"
                                                    Font-Bold="False" Font-Names="Trebuchet MS" Font-Size="Small" Font-Italic="true"
                                                    BorderStyle="None" style=" margin-left: 10px; text-align: right;"
                                                    Tooltip="Supprimer la fiche">
                                                </asp:Button>
                                            </asp:TableCell>
                                        </asp:TableRow>
                                    </asp:Table>    
                                </asp:TableCell>
                                <asp:TableCell VerticalAlign="Bottom">
                                    <asp:Table ID="CadreCmdOK" runat="server" BackImageUrl="~/Images/Boutons/OK_Std.bmp" Width="70px"
                                        BorderWidth="2px" BorderStyle="Outset" BorderColor="#B0E0D7" ForeColor="#D7FAF3"
                                        CellPadding="0" CellSpacing="0" Visible="false">
                                        <asp:TableRow>
                                            <asp:TableCell>
                                                <asp:Button ID="CommandeOK" runat="server" Text="Valider" Width="65px" Height="20px"
                                                    BackColor="Transparent" BorderColor="#B0E0D7" ForeColor="#D7FAF3" 
                                                    Font-Bold="False" Font-Names="Trebuchet MS" Font-Size="Small" Font-Italic="true"
                                                    BorderStyle="None" style=" margin-left: 6px; text-align: right;">
                                                    </asp:Button>
                                            </asp:TableCell>
                                        </asp:TableRow>
                            </asp:Table>  
                          </asp:TableCell>
                        </asp:TableRow>
                      </asp:Table>   
                    </asp:TableCell>
                  </asp:TableRow>
                  <asp:TableRow>
                    <asp:TableCell>
                        <asp:Table ID="CadreTitre" runat="server" Height="30px" CellPadding="0" Width="550px"  
                            CellSpacing="0" HorizontalAlign="Center">
                            <asp:TableRow>
                                <asp:TableCell HorizontalAlign="Center">
                                    <asp:Label ID="Etiquette" runat="server" Text="Spécialités" Height="20px" Width="300px"
                                        BackColor="#2FA49B" BorderColor="#B0E0D7" BorderStyle="Groove"
                                        BorderWidth="2px" ForeColor="#D7FAF3"
                                        Font-Bold="True" Font-Names="Trebuchet MS" Font-Size="Small"
                                        style="margin-top: 10px; margin-left: 4px; margin-bottom: 10px;
                                        font-style: oblique; text-indent: 5px; text-align: center;">
                                    </asp:Label>          
                                </asp:TableCell>      
                            </asp:TableRow>
                        </asp:Table>
                    </asp:TableCell>
                  </asp:TableRow>
                  <asp:TableRow>
                    <asp:TableCell>
                        <asp:Table ID="CadreDon" runat="server" CellPadding="0" CellSpacing="0" Width="550px" HorizontalAlign="Left">
                            <asp:TableRow>
                                <asp:TableCell>
                                    <Virtualia:VDuoEtiquetteCommande ID="Dontab01" runat="server"
                                       V_PointdeVue="1" V_Objet="53" V_Information="1" V_SiDonneeDico="true"
                                       DonTabIndex="1" EtiWidth="170px" DonWidth="350px"/>
                                </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow>
                                <asp:TableCell>
                                    <Virtualia:VDuoEtiquetteCommande ID="Dontab02" runat="server"
                                       V_PointdeVue="1" V_Objet="53" V_Information="2" V_SiDonneeDico="true"
                                       DonTabIndex="2" EtiWidth="170px" DonWidth="350px"/> 
                                </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow>
                                <asp:TableCell>
                                     <Virtualia:VDuoEtiquetteCommande ID="Dontab03" runat="server"
                                       V_PointdeVue="1" V_Objet="53" V_Information="3" V_SiDonneeDico="true"
                                       DonTabIndex="3" EtiWidth="170px" DonWidth="350px" />
                                </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow>
                                <asp:TableCell>
                                    <Virtualia:VCoupleEtiDonnee ID="InfoH04" runat="server"
                                       V_PointdeVue="1" V_Objet="53" V_Information="4" V_SiDonneeDico="true"
                                       DonTabIndex="4" EtiWidth="170px" DonWidth="350px"/>
                                </asp:TableCell>
                            </asp:TableRow>
                            <asp:TableRow>
                                <asp:TableCell>
                                    <Virtualia:VCoupleEtiDate ID="InfoD05" runat="server" TypeCalendrier="Standard" EtiWidth="170px"
                                         V_SiDonneeDico="true" V_PointdeVue="1" V_Objet="53" V_Information="5" DonTabIndex="5"/>
                                </asp:TableCell>
                            </asp:TableRow>
                        </asp:Table>
                    </asp:TableCell>
                  </asp:TableRow>
            </asp:Table>
        </asp:TableCell>
     </asp:TableRow>
 </asp:Table>
